<div class="outer">
  <div class="inner">
    <div class="welcome">
      <h1>Welcome</h1>
      <h3>Yangee Page</h3>
      <p>Learn how to build websites &amp; apps, write code or start Life.</p>
    </div>
    <div class="sns">
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-twitter.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>twitter</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-facebook.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>facebook</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-instagram.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>instagram</h3>
        </div>
      </div>
      <div class="tooltips">
        <a href="#none"><img src="/assets/sns-pin.png"></a>
        <div class="hover">
          <img src="/assets/tooltip.png" class="balloon">
          <h3>pinterest</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel slide content-wrapper">
    <div class="carousel-inner">
    <div class="item active main-bg first">
    </div>
  </div>
</div>

  
    
    
  

